{% extends 'base.html.twig' %}

{% block title %}
	Bienvenue sur le meilleur réseau d'appartements
{% endblock %}

{% block body %}
	<div class="container">
		<div class="jumbotron">
			<h1 class="display-3">Bienvenue sur SymBNB</h1>
			<p class="lead">Nous mettons en rélations les voyageurs et les propriétaires qui veulent profiter
																																																				            d'opportunités et gagner de l'argent ! en proposant leur bien en location
			</p>

			<hr class="my-4">

			<p>Vous êtes voyageurs ? Et vous voulez voir ou vous pourrez loger pour votre prochain 
																																																                déplacement ?
			</p>

			<p class="lead">
				<a href="" class="btn btn-primary btn-lg" role="button">Voir nos annonces</a>
			</p>
		</div>

		<h2 class="h1 mt-3 mb-4">Nos appartements stars</h2>

		<div class="row mt-5">
			<div class="col-md-4">
				<div class="card bg-light mb-3">
					<div class="card-header text-center">
						3 chambres,
						<strong>49&euro; / nuit</strong><br/>
						<small>Pas encore notés</small>
					</div>

					<img src="https://picsum.photos/200/300" alt="Image de l'appartement" style="height: 200px; width:100%; display:block;">
				</div>

				<div class="card-body">
					<h4 class="card-title">
						Appartemnt ouf !
					</h4>

					<p class="card-text">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni saepe placeat beatae culpa ab porro fugiat quis dicta unde? Illum qui reprehenderit facilis dolores consequuntur totam inventore quasi nesciunt ex.
					</p>

					<a href="#" class="btn btn-secondary">En savoir plus</a>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card bg-light mb-3">
					<div class="card-header text-center">
						3 chambres,
						<strong>49&euro; / nuit</strong><br/>
						<small>Pas encore notés</small>
					</div>

					<img src="https://picsum.photos/200/300" alt="Image de l'appartement" style="height: 200px; width:100%; display:block;">
				</div>

				<div class="card-body">
					<h4 class="card-title">
						Appartemnt ouf !
					</h4>

					<p class="card-text">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni saepe placeat beatae culpa ab porro fugiat quis dicta unde? Illum qui reprehenderit facilis dolores consequuntur totam inventore quasi nesciunt ex.
					</p>

					<a href="#" class="btn btn-secondary">En savoir plus</a>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card bg-light mb-3">
					<div class="card-header text-center">
						3 chambres,
						<strong>49&euro; / nuit</strong><br/>
						<small>Pas encore notés</small>
					</div>

					<img src="https://picsum.photos/200/300" alt="Image de l'appartement" style="height: 200px; width:100%; display:block;">
				</div>

				<div class="card-body">
					<h4 class="card-title">
						Appartemnt ouf !
					</h4>

					<p class="card-text">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni saepe placeat beatae culpa ab porro fugiat quis dicta unde? Illum qui reprehenderit facilis dolores consequuntur totam inventore quasi nesciunt ex.
					</p>

					<a href="#" class="btn btn-secondary">En savoir plus</a>
				</div>
			</div>
		</div>

		<h2 class="h1 mt-3 mb-4">Nos propriétaires stars !</h2>

		<div class="row">
			<div class="col">
				<div class="card border-secondary mb-3">
					<div class="card-body">
						<h4 class="card-title">
							Koto Lita
						</h4>
						<hr/>

						<div class="card-text">
							<img src="https://picsum.photos/64/64" alt="Avatar de Koto Lita" class="float-left mr-3">
							<p class="mt-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi, cumque. Distinctio labore autem similique mollitia natus alias veniam quasi obcaecati, debitis ipsam consequuntur unde deserunt aspernatur voluptate doloribus fuga eos.</p>
							<div class="d-flex justify-content-end">
								<a href="#" class="btn btn-success">En savoir plus</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
